Pandas-缺失值处理

In [1]:
#导入NumPy包
import numpy as np
#导入Pandas包
import pandas as pd

In [2]:
#导入数据
movie=pd.read_csv('IMDB-Movie-Data.csv')

In [3]:
#缺失值的存在情况

'''
返回缺失值存在情况的布尔值：
①pd.isnull()：缺失值为True；
②pd.notnull()：缺失值为False。
'''

#判断是否有缺失值（返回True，说明数据中存在缺失值）
print(np.any(pd.isnull(movie)))

#打印含有缺失值的记录
print(movie[movie.isnull().T.any()])

#判断哪个字段存在缺失值
print(pd.isnull(movie).any())

True
     Rank                    Title                    Genre  \
7       8                 Mindhorn                   Comedy
22     23           Hounds of Love       Crime,Drama,Horror
25     26          Paris pieds nus                   Comedy
26     27  Bahubali: The Beginning   Action,Adventure,Drama
27     28               Dead Awake          Horror,Thriller
..    ...                      ...                      ...
988   989                  Martyrs                   Horror
989   990                    Selma  Biography,Drama,History
992   993     Take Me Home Tonight     Comedy,Drama,Romance
995   996     Secret in Their Eyes      Crime,Drama,Mystery
998   999             Search Party         Adventure,Comedy

                                           Description        Director  \
7    A has-been actor best known for playing the ti...      Sean Foley
22   A cold-blooded predatory couple while cruising...       Ben Young
25   Fiona visits Paris for the first time to assis...  Dominique Abel
26   In ancient India, an adventurous and daring ma...  S.S. Rajamouli
27   A young woman must save herself and her friend...  Phillip Guzman
..                                                 ...             ...
988  A young woman's quest for revenge against the ...  Pascal Laugier
989  A chronicle of Martin Luther King's campaign t...    Ava DuVernay
992  Four years after graduation, an awkward high s...   Michael Dowse
995  A tight-knit team of rising investigators, alo...       Billy Ray
998  A pair of friends embark on a mission to reuni...  Scot Armstrong

                                                Actors  Year  \
7    Essie Davis, Andrea Riseborough, Julian Barrat...  2016
22   Emma Booth, Ashleigh Cummings, Stephen Curry,S...  2016
25   Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...  2016
26   Prabhas, Rana Daggubati, Anushka Shetty,Tamann...  2015
27   Jocelin Donahue, Jesse Bradford, Jesse Borrego...  2016
..                                                 ...   ...
988  Morjana Alaoui, Mylène Jampanoï, Catherine Bég...  2008
989  David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...  2014
992  Topher Grace, Anna Faris, Dan Fogler, Teresa P...  2011
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
7                   89     6.4   2490                 NaN       71.0
22                 108     6.7   1115                 NaN       72.0
25                  83     6.8    222                 NaN        NaN
26                 159     8.3  76193                6.50        NaN
27                  99     4.7    523                0.01        NaN
..                 ...     ...    ...                 ...        ...
988                 99     7.1  63785                 NaN       89.0
989                128     7.5  67637               52.07        NaN
992                 97     6.3  45419                6.92        NaN
995                111     6.2  27585                 NaN       45.0
998                 93     5.6   4881                 NaN       22.0

[162 rows x 12 columns]
Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [4]:
#删除缺失值

'''
.dropna()的参数：
①axis：默认为0，表示删除有缺失值的记录，设置为1时删除有缺失值的字段；
②inplace：默认为False，表示不覆盖原来的表，设置为True时覆盖原来的表。
'''

movie.dropna(inplace=False)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [5]:
#填充缺失值

'''
.fillna()的参数：
①value：填充的值；
②inplace：默认为False，表示不覆盖原来的表，设置为True时覆盖原来的表。
'''

movie['Revenue (Millions)'].fillna(movie['Revenue (Millions)'].mean(),inplace=True)
movie['Metascore'].fillna(movie['Metascore'].mean(),inplace=True)

In [6]:
#经判断发现已不存在缺失值
np.any(pd.isnull(movie))

False

In [7]:
#处理其他标记的缺失值

#导入数据
path='https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
col_names=['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']
data=pd.read_csv(path,names=col_names)

#替换缺失值标记为nan，然后采用和之前相同的处理方法
data.replace(to_replace='?',value=np.nan,inplace=True)