Pandas-DataFrame索引设置

In [1]:
#导入NumPy包
import numpy as np
#导入Pandas包
import pandas as pd

In [2]:
#用NumPy数组创建DataFrame
#生成随机数据
stock_change=np.random.normal(0,1,(10,5))
#设置行索引
stock=['股票{}'.format(i) for i in range(10)]
#设置列索引
date=pd.date_range(start='20180101',periods=5,freq='B')
#创建DataFrame
df=pd.DataFrame(stock_change,index=stock,columns=date)
print(df)

     2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
股票0    0.936783   -0.422256   -0.157237    0.973825   -2.065387
股票1    0.390496    0.447471    0.129587    0.519544    0.278609
股票2    0.357667    0.344492   -1.592058   -0.857157   -1.244529
股票3    0.449173    0.502759    1.017192    0.152129   -2.227563
股票4    1.125298   -1.251328    0.466836   -0.532808    0.751465
股票5    1.429824    0.205680   -0.670691    0.496874   -1.229241
股票6   -0.121265   -1.170822   -1.937608   -1.132396    0.570406
股票7   -0.547654   -0.335770    0.968912    0.652658    0.189044
股票8    1.494025   -0.725222    0.775038    0.713293    1.028567
股票9   -0.194040    1.671319    2.093505   -0.447077    0.473711

In [3]:
#修改列索引
stock_=['股票_{}'.format(i) for i in range(10)]
df.index=stock_
print(df)

'''
DataFrame的索引只可以整体修改，不可以单独修改其中的一项。
'''

      2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
股票_0    0.936783   -0.422256   -0.157237    0.973825   -2.065387
股票_1    0.390496    0.447471    0.129587    0.519544    0.278609
股票_2    0.357667    0.344492   -1.592058   -0.857157   -1.244529
股票_3    0.449173    0.502759    1.017192    0.152129   -2.227563
股票_4    1.125298   -1.251328    0.466836   -0.532808    0.751465
股票_5    1.429824    0.205680   -0.670691    0.496874   -1.229241
股票_6   -0.121265   -1.170822   -1.937608   -1.132396    0.570406
股票_7   -0.547654   -0.335770    0.968912    0.652658    0.189044
股票_8    1.494025   -0.725222    0.775038    0.713293    1.028567
股票_9   -0.194040    1.671319    2.093505   -0.447077    0.473711

'\nDataFrame的索引只可以整体修改，不可以单独修改其中的一项。\n'

In [4]:
#重置索引并保留原索引列
df.reset_index(drop=False)

,index,2018-01-01 00:00:00,2018-01-02 00:00:00,2018-01-03 00:00:00,2018-01-04 00:00:00,2018-01-05 00:00:00
0,股票_0,0.936783,-0.422256,-0.157237,0.973825,-2.065387
1,股票_1,0.390496,0.447471,0.129587,0.519544,0.278609
2,股票_2,0.357667,0.344492,-1.592058,-0.857157,-1.244529
3,股票_3,0.449173,0.502759,1.017192,0.152129,-2.227563
4,股票_4,1.125298,-1.251328,0.466836,-0.532808,0.751465
5,股票_5,1.429824,0.205680,-0.670691,0.496874,-1.229241
6,股票_6,-0.121265,-1.170822,-1.937608,-1.132396,0.570406
7,股票_7,-0.547654,-0.335770,0.968912,0.652658,0.189044
8,股票_8,1.494025,-0.725222,0.775038,0.713293,1.028567
9,股票_9,-0.194040,1.671319,2.093505,-0.447077,0.473711

In [5]:
#重置索引不保留原索引列
df.reset_index(drop=True)

   2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05
0    0.936783   -0.422256   -0.157237    0.973825   -2.065387
1    0.390496    0.447471    0.129587    0.519544    0.278609
2    0.357667    0.344492   -1.592058   -0.857157   -1.244529
3    0.449173    0.502759    1.017192    0.152129   -2.227563
4    1.125298   -1.251328    0.466836   -0.532808    0.751465
5    1.429824    0.205680   -0.670691    0.496874   -1.229241
6   -0.121265   -1.170822   -1.937608   -1.132396    0.570406
7   -0.547654   -0.335770    0.968912    0.652658    0.189044
8    1.494025   -0.725222    0.775038    0.713293    1.028567
9   -0.194040    1.671319    2.093505   -0.447077    0.473711

In [6]:
df=pd.DataFrame({'month':[1,4,7,10],
                  'year':[2012,2014,2013,2014],
                  'sale':[55,40,84,31]})
print(df)

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [7]:
#设置新索引

#设置新的索引并删除原索引列
df1=df.set_index('month',drop=True)
print(df1)
#设置多个索引
df2=df.set_index(['year','month'],drop=True)
print(df2)
print(df2.index)
print(df2.index.names)
print(df2.index.levels)

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31
            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31
MultiIndex([(2012,  1),
            (2014,  4),
            (2013,  7),
            (2014, 10)],
           names=['year', 'month'])
['year', 'month']
[[2012, 2013, 2014], [1, 4, 7, 10]]